*{
  padding: 0;
  margin: 0;
}
/* 只隐藏竖向滚动条，保留横向滚动条 */
::-webkit-scrollbar:vertical {
  display: none;
}
/* 确保横向滚动条可见 */
::-webkit-scrollbar:horizontal {
  display: block;
}
html{
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,span,b{
  font-size: 15px;
  user-select: none;
  -webkit-user-drag: none;
}
a{
  font-size: 15px;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
}
button{
  font-size: 15px;
  user-select: none;
  -webkit-user-drag: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
img{
  user-select: none;
  -webkit-user-drag: none;
}
