:root {
  --bg-color: #eff4f9;
  --text-color: #2b2b2b;
  --primary-color: #333;
  --color-primary: #b9b9b9;
  --bg-color-aside: #eff4f9;
  --bg-color-aside-button: #fafdffc2;
  --after-bg-color-aside-button: #fafdff8d;
  --checkversion-bg-color: #303030;
  --checkversion-text-color: #f5f5f5;
  --system-item-bg-color: #fafdffce;
  --system-item-border-color: #f0f0f0c0;
  --system-item-button-bg-color: #eaeef196;
  --user-bg-color: #eff4f9;
  --notice-text-color: #7c7c7cd2;
  --map-text-bg-color: #2b2b2b;
  --map-text-color: #7e7e7e;
  --map-titletext-color: #ffffff;
  --device-manage-bg-color: #ffffffd8;
}
[data-theme='dark'] {
  --bg-color: #202020;
  --text-color: #f5f5f5;
  --primary-color: #f1f1f1;
  --color-primary: #8f8f8f9c;
  --bg-color-aside: #202020;
  --bg-color-aside-button: #303030cb;
  --after-bg-color-aside-button: #00000034;
  --checkversion-bg-color: #ffffff;
  --checkversion-text-color: #2b2b2b;
  --system-item-bg-color: #303030c9;
  --system-item-border-color: #404040ab;
  --system-item-button-bg-color: #40404096;
  --user-bg-color: #202020;
  --map-text-bg-color: #2c2c2c;
  --map-text-color: #616161d2;
  --map-titletext-color: #ffffff;
  --device-manage-bg-color: #303030ed;
}
.user {
  width: 98%;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: var(--user-bg-color);
  border-radius: 8px;
  padding-bottom: 20px;
}
.user .userInfo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.user .userInfo .userAvatar {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-left: 20px;
  object-fit: cover;
  border: solid 2px var(--bg-color-aside-button);
}
.user .userInfo .user_info {
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 6px;
}
.user .userInfo .user_info h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color);
}
.user .userInfo .user_info .usertags {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.user .userInfo .user_info .usertags span {
  font-size: 12px;
  color: var(--primary-color);
  padding: 3px 7px;
  background: var(--bg-color-aside-button);
  border-radius: 4px;
  transform: translate(-2px);
}
.user .user_edit {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5px;
}
.user .user_edit button {
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 6px;
  margin-right: 8px;
}
.user .user_edit button img {
  width: 20px;
  height: 20px;
}
.user .user_edit button .editIcon {
  transform: translateY(-1px);
}
.user .user_edit button:hover {
  background: var(--after-bg-color-aside-button);
}
.popup {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 5px 12px;
  margin-right: 20px;
  border-radius: 5px;
  background: var(--bg-color-aside-button);
}
.popup .popup_content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.popup .popup_content img {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.popup .popup_content h1 {
  font-size: 13px;
  font-weight: bold;
  color: var(--notice-text-color);
}
.popup button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
.popup button img {
  width: 16px;
  height: 16px;
}
.hamapps {
  width: 93.5%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  gap: 15px;
  padding-top: 8px;
  margin-right: 25px;
}
.hamapps .appsrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
.hamapps .appsrow .data_log {
  width: 24%;
  height: 120px;
  display: grid;
  justify-items: center;
  align-content: space-between;
  gap: 13px;
}
.hamapps .appsrow .data_log .dataCount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  background: var(--bg-color-aside-button);
  border-radius: 8px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.hamapps .appsrow .data_log .dataCount:hover {
  opacity: 1;
  transform: scale(1.02);
}
.hamapps .appsrow .data_log .dataCount h1 {
  font-size: 40px;
  color: var(--text-color);
  margin-left: 5px;
}
.hamapps .appsrow .data_log .dataCount .dataCount_text {
  min-width: 50px;
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 4px;
  transform: translate(-5px);
}
.hamapps .appsrow .data_log .dataCount .dataCount_text p {
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-color);
}
.hamapps .appsrow .data_log .dataCount .dataCount_text span {
  font-size: 12px;
  color: var(--primary-color);
}
.hamapps .appsrow .data_log .logAdd {
  width: 100%;
  display: flex;
  justify-content: censter;
  align-items: center;
  gap: 4px;
  padding: 10px 8px;
  background: var(--bg-color-aside-button);
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.hamapps .appsrow .data_log .logAdd:hover {
  opacity: 1;
  transform: scale(1.02);
}
.hamapps .appsrow .data_log .logAdd button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hamapps .appsrow .data_log .logAdd button img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.hamapps .appsrow .data_log .logAdd button p {
  font-size: 13px;
  font-weight: bold;
  color: var(--primary-color);
  margin-right: 8px;
}
.hamapps .appsrow .device_manage {
  width: 24%;
  height: 120px;
  display: grid;
  justify-items: center;
  align-items: center;
  background: var(--bg-color-aside-button);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  padding: 5px 8px;
}
.hamapps .appsrow .device_manage .device_manage_app {
  width: 100%;
  height: 120px;
  display: grid;
  justify-items: center;
  align-content: space-between;
}
.hamapps .appsrow .device_manage .device_manage_app img {
  width: 92px;
  margin-top: 13px;
}
.hamapps .appsrow .device_manage .device_manage_app button {
  width: 100%;
  padding: 6.5px 0;
  font-size: 13px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  border-radius: 4px;
  background: var(--system-item-button-bg-color);
}
.hamapps .appsrow .device_manage .device_manage_app button:hover {
  opacity: 1;
  transform: scale(1.02);
}
.hamapps .appsrow .maps {
  width: 45%;
  height: 120px;
  border-radius: 8px;
  background: var(--bg-color-aside-button);
  display: grid;
  justify-items: center;
  align-items: center;
}
.hamapps .appsrow .maps .maps_app {
  width: 100%;
  height: 120px;
  display: grid;
  justify-items: left;
  align-items: flex-end;
  border-radius: 8px;
  padding: 5px;
  background-image: url('../assets/mapback.png');
  background-size: cover;
  cursor: pointer;
}
.hamapps .appsrow .maps .maps_app p {
  font-size: 12px;
  font-weight: bold;
  color: var(--map-text-color);
  z-index: 12;
  padding: 5px 8px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.hamapps .appsrow .maps .maps_app p span {
  font-size: 12px;
  color: var(--map-titletext-color);
  background: var(--map-text-bg-color);
  padding: 3px 8px;
  border-radius: 3px;
}
.fullscrenn_manage_popup {
  position: fixed;
  z-index: 900;
  width: calc(100vw - 90px) !important;
  height: 91vh;
  background: var(--device-manage-bg-color) !important;
  transform: translateX(-47%);
  backdrop-filter: blur(16px);
  left: 50%;
  top: 13px;
  border-radius: 8px;
  padding: 13px;
  animation: showDevicePopup 0.3s ease-in-out;
  display: grid !important;
  justify-items: center !important;
}
@keyframes showDevicePopup {
  from {
    transform: translateX(-47%) translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateX(-47%) translateY(0);
    opacity: 1;
  }
}
.userinfo_edit {
  width: 320px;
  height: 90vh;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%) translateX(0);
  background: var(--device-manage-bg-color);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 13px;
  z-index: 900;
  border: solid 1px var(--system-item-border-color);
  display: grid;
  justify-items: center;
  align-content: flex-start;
  gap: 22px;
  animation: showEditWindow 0.3s ease-in-out;
}
@keyframes showEditWindow {
  from {
    transform: translateY(-50%) opacity(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) opacity(1);
    opacity: 1;
  }
}
.userinfo_edit .welcome_tip {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3px;
  position: absolute;
  margin-top: 13px;
}
.userinfo_edit .welcome_tip p {
  font-size: 13px;
  font-weight: bold;
  color: var(--primary-color);
  background: var(--bg-color);
  padding: 3px 8px;
  border-radius: 4px;
}
.userinfo_edit .user_avatar_box {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 18px;
}
.userinfo_edit .user_avatar_box .user_avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 2px var(--bg-color-aside-button);
  transform: translateY(24px);
  cursor: pointer;
  object-fit: cover;
  z-index: 2;
}
.userinfo_edit .username_input {
  display: grid;
  justify-items: center;
}
.userinfo_edit .username_input input {
  width: 128px;
  height: 32px;
  outline: none;
  background: var(--bg-color);
  border: none;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  color: var(--text-color);
}
.userinfo_edit .radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--bg-color-aside-button);
  box-sizing: border-box;
  padding: 0.25rem;
  width: 250px;
  font-size: 14px;
  border: solid 1px var(--bg-color);
  box-shadow: 0 0 10px var(--bg-color);
}
.userinfo_edit .radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}
.userinfo_edit .radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  border: none;
  padding: 0.35rem 0;
  color: var(--text-color);
  transition: all 0.15s ease-in-out;
}
.userinfo_edit .radio-inputs .radio input {
  display: none;
}
.userinfo_edit .radio-inputs .radio input:checked + .name {
  background-color: var(--bg-color);
  font-weight: 600;
}
.userinfo_edit .device_hamage {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.userinfo_edit .device_hamage .user_device,
.userinfo_edit .device_hamage .user_hamage {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 6px;
}
.userinfo_edit .device_hamage .user_device input,
.userinfo_edit .device_hamage .user_hamage input {
  width: 40px;
  height: 32px;
  outline: none;
  background: var(--bg-color);
  border: none;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  color: var(--text-color);
}
.userinfo_edit .save_button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  z-index: 4;
}
.userinfo_edit .save_button button {
  width: 118px;
  height: 32px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: var(--text-color);
  background: var(--bg-color);
  cursor: pointer;
  transition: all 0.12s ease-in-out;
}
.userinfo_edit .save_button button:active {
  transform: scale(0.96);
}
.userinfo_edit .save_button .save_btn {
  background: var(--checkversion-bg-color);
  color: var(--checkversion-text-color);
}
