:root {
  --bg-color: #eff4f9;
  --text-color: #2b2b2b;
  --primary-color: #333;
  --primary-color-light: #777777bb;
  --color-primary: #b9b9b9;
  --bg-color-aside: #eff4f9;
  --bg-color-aside-button: #fafdffc2;
  --after-bg-color-aside-button: #fafdff8d;
  --checkversion-bg-color: #303030;
  --checkversion-text-color: #f5f5f5;
  --system-item-bg-color: #fafdffce;
  --system-item-border-color: #f0f0f0c0;
  --system-item-button-bg-color: #eaeef196;
  --user-bg-color: #eff4f9;
  --notice-text-color: #7c7c7cd2;
  --map-text-bg-color: #2b2b2b;
  --map-text-color: #7e7e7e;
  --map-titletext-color: #ffffff;
  --device-manage-bg-color: #ffffffd8;
  --Maps_container-bg-color: #fafafad8;
  --Maps-poor-text-color: #d60e0e;
  --Maps-poor-bg-color: #ffededd8;
  --Maps-good-text-color: #0fcf0f;
  --Maps-good-bg-color: #e8fdf5d8;
  --Maps-link-color: #56a8ffba;
}
[data-theme='dark'] {
  --bg-color: #202020;
  --text-color: #f5f5f5;
  --primary-color: #f1f1f1;
  --primary-color-light: #dcdcdcbb;
  --color-primary: #8f8f8f9c;
  --bg-color-aside: #202020;
  --bg-color-aside-button: #303030cb;
  --after-bg-color-aside-button: #00000034;
  --checkversion-bg-color: #ffffff;
  --checkversion-text-color: #2b2b2b;
  --system-item-bg-color: #303030c9;
  --system-item-border-color: #404040ab;
  --system-item-button-bg-color: #40404096;
  --user-bg-color: #202020;
  --map-text-bg-color: #2c2c2c;
  --map-text-color: #616161d2;
  --map-titletext-color: #ffffff;
  --device-manage-bg-color: #303030ed;
  --Maps_container-bg-color: #303030d8;
  --Maps-poor-text-color: #ff6b6b;
  --Maps-poor-bg-color: #413838d8;
  --Maps-good-text-color: #51cf66;
  --Maps-good-bg-color: #383f3cd8;
  --Maps-link-color: #006de1bd;
}
header {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
}
header .header {
  width: calc(95vw + 16px);
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header .header_left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
header .header .header_left a {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  transition: all 0.12s ease-in-out;
  padding: 8px 13px;
  border-radius: 4px;
  background: var(--Maps_container-bg-color);
  opacity: 0.8;
}
header .header .header_left a:hover {
  opacity: 1;
  transform: scale(1.02);
}
header .header .header_right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 8px;
}
header .header .header_right button {
  font-size: 14px;
  font-weight: bold;
  color: var(--checkversion-text-color);
  transition: all 0.12s ease-in-out;
  padding: 8px 13px;
  border-radius: 4px;
  background: var(--checkversion-bg-color);
  transform: scale(1);
}
header .header .header_right button:hover {
  transform: scale(1.02);
}
header .header .header_right button:active {
  transform: scale(0.99);
}
.Maps {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-content: flex-start;
}
.Maps .Maps_container {
  width: 95vw;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  padding: 8px 13px;
}
.Maps .Maps_container .hfmaps_data {
  padding: 8px;
  width: 100%;
  background: var(--Maps_container-bg-color);
  border: 1px solid var(--system-item-border-color);
  display: grid;
  justify-items: center;
  align-content: flex-start;
  border-radius: 6px;
  gap: 8px;
}
.Maps .Maps_container .hfmaps_data .hfdata_line {
  width: 100%;
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
  gap: 8px;
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata {
  width: 100%;
  min-height: 100px;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 3px;
  transition: all 0.12s ease-in-out;
  border-radius: 4px;
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata:hover {
  background: var(--system-item-border-color);
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata h1 {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata p {
  font-size: 14px;
  color: var(--primary-color-light);
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata span {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 4px;
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata span.Maps-poor-text-color {
  color: var(--Maps-poor-text-color);
  background: var(--Maps-poor-bg-color);
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata span.Maps-good-text-color {
  color: var(--Maps-good-text-color);
  background: var(--Maps-good-bg-color);
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata span.Maps-fair-text-color {
  color: var(--Maps-fair-text-color);
  background: var(--Maps-fair-bg-color);
}
.Maps .Maps_container .hfmaps_data .hfdata_line .hfdata span.Maps-loading-text {
  font-size: 13px !important;
  color: var(--color-primary);
}
.Maps .Maps_container .hfmaps_data .hfdata_title {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 13px;
}
.Maps .Maps_container .hfmaps_data .hfdata_title h1 {
  font-size: 12px;
  font-weight: normal;
  color: var(--primary-color);
  background: var(--system-item-border-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps .Maps_container .hfmaps_data .hfdata_title p {
  font-size: 11px;
  color: var(--color-primary);
}
.Maps .Maps_container .hfmaps_data .hfdata_title p a {
  font-size: 11px;
  color: var(--Maps-link-color);
}
.Maps .Maps_container .hfmaps_data .hfdataline {
  width: 95%;
  height: 1px;
  background: var(--system-item-border-color);
}
.Maps .Maps_container .mufd_fof2 {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  border: 1px solid var(--system-item-border-color);
  background: var(--Maps_container-bg-color);
  padding: 8px;
  border-radius: 6px;
  gap: 8px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_title {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 13px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_title h1 {
  font-size: 12px;
  font-weight: normal;
  color: var(--primary-color);
  background: var(--system-item-border-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_title p {
  font-size: 11px;
  color: var(--color-primary);
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_title p a {
  font-size: 11px;
  color: var(--Maps-link-color);
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 13px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container .mufd {
  width: 100%;
  height: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container .fof2 {
  width: 100%;
  height: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container .uvmaps {
  width: 100%;
  height: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container button {
  position: absolute;
  background: var(--Maps_container-bg-color);
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  opacity: 0.8;
  transition: all 0.12s ease-in-out;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container button:hover {
  opacity: 1;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container button p {
  font-size: 13px;
  font-weight: normal;
  color: var(--text-color);
  transform: translateY(-1px);
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container button img {
  width: 14px;
  height: 14px;
}
.Maps .Maps_container .mufd_fof2 .mufd_fof2_container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
.Maps .Maps_container .timeanddate {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  border: 1px solid var(--system-item-border-color);
  background: var(--Maps_container-bg-color);
  padding: 8px;
  border-radius: 6px;
  gap: 8px;
}
.Maps .Maps_container .timeanddate .timedate_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 13px;
}
.Maps .Maps_container .timeanddate .timedate_title h1 {
  font-size: 12px;
  font-weight: normal;
  color: var(--primary-color);
  background: var(--system-item-border-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps .Maps_container .timeanddate .timedate_title p {
  font-size: 11px;
  color: var(--color-primary);
}
.Maps .Maps_container .timeanddate .timedate_title p a {
  font-size: 11px;
  color: var(--Maps-link-color);
}
.Maps .Maps_container .timeanddate .timedate_img {
  width: 100%;
  height: auto;
}
.Maps .Maps_container .timeanddate .timedate_img img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.Maps .Maps_container .CQMaps {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  border: 1px solid var(--system-item-border-color);
  background: var(--Maps_container-bg-color);
  padding: 8px;
  border-radius: 6px;
  gap: 8px;
}
.Maps .Maps_container .CQMaps .CQMaps_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 13px;
}
.Maps .Maps_container .CQMaps .CQMaps_title h1 {
  font-size: 12px;
  font-weight: normal;
  color: var(--primary-color);
  background: var(--system-item-border-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps .Maps_container .CQMaps .CQMaps_title button {
  background: var(--system-item-border-color);
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Maps .Maps_container .CQMaps .CQMaps_title button p {
  font-size: 12px;
  font-weight: normal;
  color: var(--primary-color);
  transform: translateY(-1px);
}
.Maps .Maps_container .CQMaps .CQMaps_title button img {
  width: 12px;
  height: 12px;
}
.Maps .Maps_container .CQMaps .CQMaps_title p {
  font-size: 11px;
  color: var(--color-primary);
}
.Maps .Maps_container .CQMaps .CQMaps_img {
  width: 100%;
  height: auto;
}
.Maps .Maps_container .CQMaps .CQMaps_img img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.Maps .Maps_container .GRIDMaps {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  border: 1px solid var(--system-item-border-color);
  background: var(--Maps_container-bg-color);
  padding: 8px;
  border-radius: 6px;
  gap: 8px;
}
.Maps .Maps_container .GRIDMaps .GRIDMaps_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 13px;
}
.Maps .Maps_container .GRIDMaps .GRIDMaps_title h1 {
  font-size: 12px;
  font-weight: normal;
  color: var(--primary-color);
  background: var(--system-item-border-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps .Maps_container .GRIDMaps .GRIDMaps_img {
  width: 100%;
  min-height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Maps .Maps_container .GRIDMaps .GRIDMaps_img img {
  width: 49.5%;
  height: 100%;
  border-radius: 4px;
}
.Maps_Preview {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--Maps_container-bg-color);
  backdrop-filter: blur(10px);
  justify-items: center;
  align-content: flex-start;
  animation: MapsPreview 0.2s ease-in-out;
}
.Maps_Preview .Mpasview {
  width: 96vw;
  max-height: 100vh;
  overflow-y: scroll;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  gap: 13px;
  padding-top: 20px;
  padding-bottom: 40px;
  animation: MapsContentPreview 0.5s ease-in-out;
}
.Maps_Preview .Mpasview .Mpasview_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Maps_Preview .Mpasview .Mpasview_title h1 {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  background: var(--bg-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps_Preview .Mpasview .Mpasview_title img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: var(--bg-color);
  padding: 2px 8px;
  border-radius: 3px;
}
.Maps_Preview .Mpasview .Mpasview_img {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 40px;
}
.Maps_Preview .Mpasview .Mpasview_img img {
  width: 100%;
  height: max-content;
}
.Maps_Preview .Mpasview .Mapsview_content {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  padding-bottom: 60px;
}
.Maps_Preview .Mpasview .Mapsview_content .MapsIntroduction_mufd {
  width: 100%;
  display: grid;
  justify-items: left;
  align-content: flex-start;
  gap: 20px;
}
.Maps_Preview .Mpasview .Mapsview_content .MapsIntroduction_fof2 {
  width: 100%;
  display: grid;
  justify-items: left;
  align-content: flex-start;
  gap: 20px;
}
.Maps_Preview .Mpasview .Mapsview_content .MapsIntroduction_uvmaps {
  width: 100%;
  display: grid;
  justify-items: left;
  align-content: flex-start;
  gap: 20px;
}
.Maps_Preview .Mpasview .Mapsview_content p {
  font-size: 14px;
  color: var(--primary-color);
  line-height: 22px;
}
.Maps_Preview .Mpasview .Mapsview_content li {
  font-size: 14px;
  color: var(--primary-color);
  line-height: 22px;
}
.Maps_Preview .Mpasview .Mapsview_content b {
  font-size: 14px;
  color: var(--primary-color);
  line-height: 22px;
}
@keyframes MapsPreview {
  0% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes MapsContentPreview {
  0% {
    opacity: 0.5;
    transform: scale(0.96);
  }
  40% {
    opacity: 0.5;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
footer {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
}
footer .footer {
  width: 95vw;
  padding: 13px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--Maps_container-bg-color);
  border: 1px solid var(--system-item-border-color);
  border-radius: 6px;
}
footer .footer .footer_left {
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}
footer .footer .footer_left h1 {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
}
footer .footer .footer_left p {
  font-size: 12px;
  color: var(--map-text-color);
}
footer .footer .footer_left p a {
  font-size: 13px;
  font-weight: bold;
  color: var(--Maps-link-color);
}
footer .footer .footer_right {
  display: grid;
  justify-items: right;
  align-items: center;
  gap: 8px;
  margin-right: 8px;
}
footer .footer .footer_right button {
  background: var(--system-item-border-color);
  padding: 8px;
  border-radius: 4px;
  display: grid;
  justify-items: center;
  align-items: center;
}
footer .footer .footer_right button img {
  width: 20px;
  height: 20px;
  transform: translateY(1px);
}
