:root {
  --bg-color: #eff4f9;
  --text-color: #2b2b2b;
  --primary-color: #333;
  --primary-color-light: #777777bb;
  --color-primary: #b9b9b9;
  --bg-color-aside: #eff4f9;
  --bg-color-aside-button: #fafdffc2;
  --after-bg-color-aside-button: #fafdff8d;
  --checkversion-bg-color: #303030;
  --checkversion-text-color: #f5f5f5;
  --system-item-bg-color: #fafdffce;
  --system-item-border-color: #f0f0f0c0;
  --system-item-button-bg-color: #eaeef196;
  --user-bg-color: #eff4f9;
  --notice-text-color: #7c7c7cd2;
  --map-text-bg-color: #2b2b2b;
  --map-text-color: #7e7e7e;
  --map-titletext-color: #ffffff;
  --device-manage-bg-color: #ffffffd8;
  --Maps_container-bg-color: #fafafad8;
  --Maps-poor-text-color: #d60e0e;
  --Maps-poor-bg-color: #ffededd8;
  --Maps-good-text-color: #0fcf0f;
  --Maps-good-bg-color: #e8fdf5d8;
  --Maps-link-color: #56a8ffba;
}
[data-theme='dark'] {
  --bg-color: #202020;
  --text-color: #f5f5f5;
  --primary-color: #f1f1f1;
  --primary-color-light: #dcdcdcbb;
  --color-primary: #8f8f8f9c;
  --bg-color-aside: #202020;
  --bg-color-aside-button: #303030cb;
  --after-bg-color-aside-button: #00000034;
  --checkversion-bg-color: #ffffff;
  --checkversion-text-color: #2b2b2b;
  --system-item-bg-color: #303030c9;
  --system-item-border-color: #404040ab;
  --system-item-button-bg-color: #40404096;
  --user-bg-color: #202020;
  --map-text-bg-color: #2c2c2c;
  --map-text-color: #616161d2;
  --map-titletext-color: #ffffff;
  --device-manage-bg-color: #303030ed;
  --Maps_container-bg-color: #303030d8;
  --Maps-poor-text-color: #ff6b6b;
  --Maps-poor-bg-color: #413838d8;
  --Maps-good-text-color: #51cf66;
  --Maps-good-bg-color: #383f3cd8;
  --Maps-link-color: #006de1bd;
}
